.gitignore
.vscodeignore
.github/**
docs/**
dist/**
!dist/extension.js
esbuild.mjs
node_modules/**
.build/**
out/**
scripts/**
src/**
runtime/**
tsconfig.json
package-lock.json
resources/bondie-publisher-128.png
DEVELOPMENT.md
**/*.ts
**/*.map
